.game-launcher-panel {
  .game-launcher-panel-content {
    @include module;

    padding: 0;

  }

  .game-launcher-panel-header {
    @include module;
    margin: 5px 10px;
    background: $background-semi-transparent;

    .game-launcher-panel-status {
      color: $foreground-tertiary;
      font-size: 0.9em;
    }

    button {
      min-width: 30px;
      min-height: 30px;
    padding: 5px;
    }
  }

  .game-launcher-panel-search {
    @include module;
    margin: 5px 10px;
    background: $background-semi-transparent;
  }

  .game-launcher-panel-item {
    @include module;
    padding: 5px;
    margin: 2px 0;
    background: $background-semi-transparent;

    &:hover {
      background: $background;
    }

    &.checked {
      background: $color2;
    }

    .game-launcher-panel-cover {
      border-radius: 10px;
      background: $background-secondary;
      overflow: hidden;
      min-width: 60px;
      min-height: 85px;
    }

    .game-launcher-panel-runner {
      color: $foreground-tertiary;
      font-size: 0.9em;
      opacity: 0.8;
    }
  }

  .game-launcher-panel-empty {
    color: $foreground-tertiary;
  }
}
